In [25]:
import igraph as ig
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

In [32]:
data_per_tr = pd.read_csv("../correlations/training/dimensionality_reduction_1/10_10_10/synolitic_method_1/features/perception/mean.txt")
data_im_tr = pd.read_csv("../correlations/training/dimensionality_reduction_1/10_10_10/synolitic_method_1/features/imagery/mean.txt")
data_per_test = pd.read_csv("../correlations/test/dimensionality_reduction_1/10_10_10/synolitic_method_1/features/perception/mean.txt")
data_im_test = pd.read_csv("../correlations/test/dimensionality_reduction_1/10_10_10/synolitic_method_1/features/imagery/mean.txt")

In [33]:
data_per_tr = data_per_tr[["sum", "mean", "quantile_1lt", "quantile_2gt", "std"]]
data_im_tr = data_im_tr[["sum", "mean", "quantile_1lt", "quantile_2gt", "std"]]
data_per_test = data_per_test[["sum", "mean", "quantile_1lt", "quantile_2gt", "std"]]
data_im_test = data_im_test[["sum", "mean", "quantile_1lt", "quantile_2gt", "std"]]
data_per_tr

              sum      mean  quantile_1lt  quantile_2gt       std
0   -25325.508992 -0.512859     -0.876844      0.637449  0.253512
1   -26789.678202 -0.535077     -0.891206      0.589783  0.242006
2   -28145.194368 -0.551294     -0.900275      0.509435  0.226487
3   -28031.028001 -0.547952     -0.894787      0.531662  0.223802
4   -28207.429512 -0.551368     -0.902269      0.529505  0.226590
..            ...       ...           ...           ...       ...
126 -23906.638959 -0.464775     -0.719963      0.554947  0.197532
127 -24086.193656 -0.467375     -0.721458      0.548760  0.195657
128 -24149.846816 -0.469385     -0.724041      0.527650  0.193542
129 -23629.038970 -0.463051     -0.722770      0.545390  0.200753
130 -22258.738404 -0.443551     -0.716016      0.630285  0.228264

[131 rows x 5 columns]

In [34]:
data_tr = pd.concat([data_per_tr, data_im_tr])
data_test = pd.concat([data_per_test, data_im_test])

Y_tr = [1 for i in range(len(data_per_tr))] + [2 for i in range(len(data_im_tr))]
Y_test = [1 for i in range(len(data_per_test))] + [2 for i in range(len(data_im_test))]
data_tr

             sum      mean  quantile_1lt  quantile_2gt       std
0  -25325.508992 -0.512859     -0.876844      0.637449  0.253512
1  -26789.678202 -0.535077     -0.891206      0.589783  0.242006
2  -28145.194368 -0.551294     -0.900275      0.509435  0.226487
3  -28031.028001 -0.547952     -0.894787      0.531662  0.223802
4  -28207.429512 -0.551368     -0.902269      0.529505  0.226590
..           ...       ...           ...           ...       ...
65  -7781.432863 -0.167052     -0.560509      0.879518  0.440047
66  -7637.149676 -0.164480     -0.558290      0.891119  0.442469
67 -12378.125491 -0.262387     -0.659022      0.898985  0.417393
68 -11742.301774 -0.250241     -0.659627      0.910976  0.429960
69 -16310.598059 -0.337177     -0.686142      0.845532  0.354678

[201 rows x 5 columns]

In [40]:
svc = SVC(kernel="rbf", C=10, probability=True)
svc.fit(data_tr, Y_tr)
Y_pred = svc.predict(data_test)

1.0

In [41]:
accuracy = accuracy_score(Y_pred, Y_test)
accuracy

1.0

In [42]:
Y_pred == Y_test

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])